<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
	<title>Layout</title>
</head>
<body>
	<header>
		<span class="logo">Layout</span>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a class="active" href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="stock.html"><i class="fa fa-store"></i> Stock</a></li>
			<li><a href="contact.html"><i class="fa fa-envelope"></i> Contact</a></li>
		</ul>
	</nav>
	<section class="articles">
		<article>
			<h2>Article #1</h2>
			<div class="article-img">
				<img src="https://placeimg.com/600/400/animals" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In doloribus quae laudantium ullam ipsa labore quos porro dolorem nobis blanditiis officiis, repellendus laboriosam. Optio accusantium amet sit iure, adipisci asperiores.</p>
				<a href="#">Leer más...</a>
			</div>
		</article>
		<div class="clearfix"></div>
		<article>
			<h2>Article #2</h2>
			<div class="article-img">
				<img src="https://placeimg.com/600/400/nature" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In doloribus quae laudantium ullam ipsa labore quos porro dolorem nobis blanditiis officiis, repellendus laboriosam. Optio accusantium amet sit iure, adipisci asperiores.</p>
				<a href="#">Leer más...</a>
			</div>
		</article>
		<div class="clearfix"></div>
		<article>
			<h2>Article #3</h2>
			<div class="article-img">
				<img src="https://placeimg.com/600/400/architecture" alt="" class="responsive">
			</div>
			<div class="article-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In doloribus quae laudantium ullam ipsa labore quos porro dolorem nobis blanditiis officiis, repellendus laboriosam. Optio accusantium amet sit iure, adipisci asperiores.</p>
				<a href="#">Leer más...</a>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<aside>
		<h2>Síguenos en Twitter</h2>
		<a class="twitter-timeline" data-height="800" data-link-color="#589E47" href="https://twitter.com/JYPETWICE?ref_src=twsrc%5Etfw">Tweets by JYPETWICE</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</aside>
	<div class="clearfix"></div>
	<footer></footer>
</body>
</html>