<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
	<title>Layout</title>
</head>
<body>
	<header>
		<span class="logo">Layout</span>
	</header>
	<nav class="nav-horizontal">
		<ul>
			<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><a class="active" href="stock.html"><i class="fa fa-store"></i> Stock</a></li>
			<li><a href="contact.html"><i class="fa fa-envelope"></i> Contact</a></li>
		</ul>
	</nav>
	<section class="articles">
		<h1>Stock</h1>
		<table class="tablas">
			<tr>
				<th>Nombre</th>
				<th>Grupo</th>
				<th>Empresa</th>	
			</tr>
			<tr>
				<td>Lisa</td>
				<td>Black Pink</td>
				<td>YG Entertainment</td>
			</tr>
			<tr>
				<td>Jennie</td>
				<td>Black Pink</td>
				<td>YG Entertainment</td>
			</tr>
			<tr>
				<td>Rose</td>
				<td>Black Pink</td>
				<td>YG Entertainment</td>
			</tr>
			<tr>
				<td>Jisoo</td>
				<td>Black Pink</td>
				<td>YG Entertainment</td>
			</tr>
		</table>
	</section>
	<aside>
		<h2>Síguenos en Twitter</h2>
		<a class="twitter-timeline" data-height="800" data-link-color="#589E47" href="https://twitter.com/JYPETWICE?ref_src=twsrc%5Etfw">Tweets by JYPETWICE</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</aside>
	<div class="clearfix"></div>
	<footer></footer>
</body>
</html>